{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    Propriétaires
{% endblock page_title %}


{% block page_sub_title %}
    List of owners
{% endblock page_sub_title %}


{% block content %}
<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Liste des proprios</h4>
            <p>Add class <code>proprio</code></p>
        </div>
        <div class="pull-right">
            <a href="{% url 'create-owner' %}" class="btn btn-primary btn-sm scroll-click" role="button"><i class="fa fa-add"></i> Add new</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
           {% for owner in owners %}
           <tr>
            <th scope="row">{{ owner.id }}</th>
            <td>{{ owner.firstname }}</td>
            <td>{{ owner.lastname }}</td>
            <td>{{ owner.email }}</td>
            <td>{{ owner.address }}</td>
            <td>{{ owner.account.username }}</td>
            <td>
                <a href=""  class="btn btn-info btn-sm">show</a>
                <a href="{% url 'update-owner' owner.id %}"  class="btn btn-warning btn-sm">edit</a>
                <a href=""  class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
           {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}
    
    
    