{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Owners
{% endblock page_title %}


{% block page_sub_title %}
    Update Owner
{% endblock page_sub_title %}


{% block content %}
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Modification d'un proprio</h4>
        </div>
        <div class="pull-right">
            
        </div>
    </div>
    <form method="POST" action="{% url 'update-owner' owner.id %}">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Nom</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" placeholder="Johnny Brown" name="lastname" value="{{ owner.lastname }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Prenom</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" placeholder="Johnny Brown" name="firstname" value="{{ owner.firstname }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Email</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" value="bootstrap@example.com" type="email" name="email" value="{{ owner.email }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Username</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" placeholder="Johnny Brown" name="username" value="{{ owner.account.username }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Telephone</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" value="+221 78 876 76 87" type="tel" name="phone" value="{{ owner.phone }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Address</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" placeholder="Johnny Brown" name="address" value="{{ owner.address }}">
            </div>
        </div>

        <div class="btn-list row">
            <button type="submit" class="btn btn-primary btn-lg">
                modifier
            </button>
            <a type="button" class="btn btn-secondary btn-lg" href="{% url 'owners' %}">
                annuler
            </a>
        </div>
        
    </form>
</div>
{% endblock content %}