{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>SEN IMMO | Dashboard</title>

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'vendors/images/apple-touch-icon.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'vendors/images/favicon-32x32.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'vendors/images/favicon-16x16.png' %}"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vendors/styles/icon-font.min.css' %}"
		/>
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}" />



	</head>
	<body>

		<div class="header">
			<div class="header-left">
			</div>
			<div class="header-right">
				<div class="user-info-dropdown">
					<div class="dropdown">
						<a
							class="dropdown-toggle"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
							<span class="user-icon">
								<img src="{% static 'vendors/images/photo1.jpg' %}" alt="" />
							</span>
							<span class="user-name">{{ request.user.username }}</span>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
						>
							<a class="dropdown-item" href="profile.html"
								><i class="dw dw-user1"></i> Profile</a
							>

							<a class="dropdown-item" href="{% url 'logout_user' %}"
								><i class="dw dw-logout"></i> Log Out</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="left-side-bar">
			<div class="brand-logo">
				<a href="index.html">
					<img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" class="dark-logo" />
					<img
						src="{% static 'vendors/images/deskapp-logo-white.svg' %}"
						alt=""
						class="light-logo"
					/>
				</a>
				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<div class="menu-block customscroll">
				<div class="sidebar-menu">
					<ul id="accordion-menu">
						<li>
							<a href="{% url 'dashboard' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-speedometer2"></span
								><span class="mtext">Dashboard</span>
							</a>
						</li>
						{% if request.user.is_superuser %}
                        <li>
							<a href="{% url 'owners' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-person"></span
								><span class="mtext">Owners</span>
							</a>
						</li>
						
                        <li>
							<a href="{% url 'customers' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-people"></span
								><span class="mtext">Customers</span>
							</a>
						</li>
		
						{% endif %}
						{% if request.user.is_owner or request.user.is_superuser %}
                        <li>
							<a href="#" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-house"></span
								><span class="mtext">Properties</span>
							</a>
						</li>
						{% endif %}
                        <li>
							<a href="#" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-cash-coin"></span
								><span class="mtext">Bookings</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					{% if messages %}
						{% for message in messages %}
						<div class="alert {% if message.tags %} alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						{% endfor %}
					{% endif %}
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>
                                        
                                        {% block page_title %}
                                            
                                        {% endblock page_title %}
                                            
                                    </h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'dashboard' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
                                            {% block page_sub_title %}
                                            
                                            {% endblock page_sub_title %}
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
							</div>
						</div>
					</div>
					<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                        
                        {% block content %}
                            
                        {% endblock content %}
                            
                    </div>
				</div>
			</div>
		</div>


		<!-- js -->
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
	</body>
</html>
